#fluxRss {
    display: block;
    font-size: 0.9em;
    width: 100%;
    margin: 5px auto 20px;
    overflow: auto;
    padding: 3px;

}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin:0;
    padding:0;
}
#container{
    margin-right: 20px;
}
/*.maClasse{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
}*/

.btnNews{
    width:100%;
    height: 10%;
    padding: 30px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: lightblue;
    border:solid 1px white;
    color: black;
    text-transform: uppercase;
    text-align: center;

}
.btnNews:hover{
    background-color: cadetblue;
    color: white;

}
.btnNews:focus{
    border: none;
    outline: 0;

}
.btnNews:active{
    border:none;
    outline: none;
}

#titre,#titre2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    color: slategray;
    padding: 20px;
}
#map {

    width: 90%;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px rgba(160,160, 150, 0.7);

}
.article{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.pac-card {
    min-width: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}
#myBtnMenu{
    display: inline-block;
    float: none;
    border: none;
    outline: none;
    margin-right: 0;
    background-color: cadetblue;
    width: 100%;
    height: 50px;

}
#myBtnMenu:hover{
    cursor: pointer;
    outline: 0;
    color: black;
    background-color: lightblue;
}

#destination, #origin{
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 1px;
    color: black;
}
a{
    color:cadetblue;

}
a:hover{
    color: lightblue;
    text-decoration: none;
    cursor: pointer;


}

.navCarte{
    width: 100%;
    margin:1px;
    display: block;
}
.material-icons{
    color: black;
}
.btn-sm{
    width: 49%;
    float:left;
    background-color: lightblue;
    border: none;
    outline: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn-sm:hover{
    background-color: cadetblue;
    outline: 0;
}
#pac-input{
    width: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;

}

#btn_geoloc{
    width: 100%;
}
#etapes{
    float: right;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
title{
    width: 30px;
    background-color: black;
}
.tooltip{
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 5px;
}
/*

 */
